<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home_YOLOv8_Sirways</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Home.css') }}">
</head>
<body>
    <header class="feature-box right">
        <nav>
            <ul>
            <li><a href="/home">Home</a></li>
            <!-- <li><a href="/video">Video</a></li> -->
            <li><a href="/webcam">LiveWebcam</a></li>
            <li><a href="/gallery">Record</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>